<div class="tag-widget post-tag-container mb-5 mt-5">
    <div class="tagcloud">
        <a href="#" class="tag-cloud-link">Lifes</a>
        <a href="#" class="tag-cloud-link">Sports</a>
        <a href="#" class="tag-cloud-link">Techs</a>
        <a href="#" class="tag-cloud-link">Traves</a>
    </div>
</div>